%section.contact#contact
  .container
    %h2.text-center
      Contact me
    .col-sm-12
      %h3.text-center
        %small
          %i.fa.fa-star
        %i.fa.fa-envelope
        %small
          %i.fa.fa-star