%section.contact#contact
  .container
    %h2.text-center
      Contact me
    .col-sm-12
      %h3.text-center
        %small
          %i.fa.fa-star
        %i.fa.fa-user
        %small
          %i.fa.fa-star
    .col-sm-6
      %a.btn.text-center.gmail{ :'href' => 'mailto:feliperoa@gmail.com' }
        %h4
          %i.fa.fa-envelope
          %br
          feliperoa@gmail.com
    .col-sm-6
      %a.btn.text-center.linkedin{ :'href' => 'https://www.linkedin.com/in/feliperoa', :'target' => '_blank' }
        %h4
          %i.fa.fa-linkedin
          %br
          feliperoa at linkedin