%section.contact#contact{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.6' }
  .container
    %h2.text-center
      Contact me
    .col-sm-12
      %h3.text-center
        %small
          %i.fa.fa-star
        %i.fa.fa-user
        %small
          %i.fa.fa-star
    .col-sm-4
    .col-sm-4
      %a.text-center{ :'href' => 'mailto:feliperoa@gmail.com', :'analytics-on' => 'click', :'analytics-event' => 'contact-icon', :'analytics-category' => 'contact' }
        .gmail
          .red-box
          .right-border
          .cream-box
          .line.right
          .left-border
          .gray-triangle
          .fold.left
          .fold.right
        %span
          feliperoa@gmail.com
    .col-sm-4
