%header{ :'ng-controller' => 'headerCtrl' }
	.loading{ :'ng-if' => 'progress !== 100' }
		{{progress | number:0}}%
	.title
		%h1.text-center
			Felipe Roa
		%h2.text-center
			%small
				%i.fa.fa-star
			Guitarist
			%small
				%i.fa.fa-star
		.btn.text-center{ :'href' => '#about', :'du-smooth-scroll' => 'du-smooth-scroll', :'duration' => '800', :'du-scrollspy' => 'du-scrollspy'}
			enter site
			%i.fa.fa-angle-double-down

	#top.slide.slide-animation{ :'ng-if' => 'isCurrentSlideIndex($index)', :'ng-show' => 'loaded', :'ng-repeat' => 'slide in slides' }
		.subtitle
			%small{ :'ng-show' => '{{slide.name.length>1}}' }
				photography by
				%a{ :'href' => '{{slide.url}}', :'target' => '_blank', :'ng-show' => '{{slide.url.length>0}}', :'analytics-on' => 'click', :'analytics-event' => 'go to photographer: {{slide.name}}', :'analytics-category' => 'header_photos'  }
					{{slide.name}}
				%span{ :'ng-show' => '{{!slide.url}}' }
					{{slide.name}}
		%img.bg{ :'bg-image' => 'bg-image', :'ng-src' => '{{slide.src}}', :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
		
