%section.news#news
	.container
		%h2.text-center
			News
		.row
			.fb.col-sm-6{ :'ng-controller' => 'fbCtrl' }
				%h3.text-center
					%small
						%i.fa.fa-star 
					%i.fa.fa-facebook
					%small
						%i.fa.fa-star
				%p.text-center{ :'ng-hide' => 'fbfeed' }
					Loading timeline...
				.narrow
					.item{ :'ng-repeat' => 'post in fbfeed | limitTo: 5 ' }
						%p.text-center
							.tweet{ :'ng-bind-html' => 'post.message | linkyfb' }
							.small{ :'ng-if' => 'post.story' }
								%a{ :'href' => 'http://facebook.com/{{post.id | fb_link}}', :'target' => '_blank' }
									View post	
									%i.fa.fa-external-link
							.date.text-center{ :'ng-bind-html' => 'post.created_time | dateformat' }
							 
						%hr
					.fb-like{ :'data-share' => 'true', :'data-show-faces' => 'true', :'data-width' => '450' }
			.tw.col-sm-6{ :'ng-controller' => 'twCtrl' }
				%h3.text-center
					%small
						%i.fa.fa-star
					%i.fa.fa-twitter
					%small
						%i.fa.fa-star
				%p.text-center{ :'ng-hide' => 'twfeed' }
					Loading tweets...
				.narrow
					.item{ :'ng-repeat' => 'tweet in twfeed.tweets | limitTo: 5 ' }
						%p.text-center
							.tweet{ :'ng-bind-html' => 'tweet.text | linkytw' }
							.date.text-center
								{{tweet.updated}}
						%hr
					%a.twitter-follow-button{ :'href' => 'https://twitter.com/Roa5150', :'data-show-count' => 'false', :'data-show-screen-name' => 'false', :'data-lang'=> 'en' }
						Follow @Roa5150
