%section.work
  .container
    %h2.text-center
      My Work 
    .col-sm-7{ :'ng-controller' => 'scCtrl' }
      %h3.text-center
        %i.fa.fa-soundcloud
      .player{ :'ng-bind-html' => 'html | scplayer' }
    .col-sm-5{ :'ng-controller' => 'ytCtrl' }
      %h3.text-center
        %i.fa.fa-youtube
      .video{ :'ng-repeat' => 'video in videos ' }
        .col-xs-3.vid
          .hover
            %i.fa.fa-play
          %img.img-responsive{ :'ng-src' => '{{ video.thumbnails.default.url }}' }
        .col-xs-9
          %h4
            {{ video.title }}
          %p
            {{ video.description | limitTo: 50}}
            %small{ :'ng-show' => 'video.description.length > 50' }...

          %hr